
.login-form{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    padding-top: 20px;
    margin-top: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
